body {
  background-color: black;
}
h1 {

}
.sg{  color: darksalmon;
  font-style: italic;
  background-color: teal;
  height: 50px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

h2 {
  color: darksalmon;
}

.slm {
  height: 250px;
  width: 300px;
  margin-top: 31px;
}

main {
  display: grid;
  justify-content: center;
}
a {
  color: darksalmon;
}
